{% extends 'layouts/navbar/navbar.html' %}
{% load static %}
{% load humanize %}

{% block content %}

    <!--begin::Page Scripts(used by this page)-->
{#		<script src="{% static 'assets/js/pages/features/miscellaneous/dual-listbox.js' %}"></script>#}
	<!--end::Page Scripts-->
    <script src="{% static 'assets/js/pages/widgets.js' %}"></script>






<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-6 py-lg-8 subheader-transparent" id="kt_subheader">
        <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1">
                <!--begin::Page Heading-->
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <!--begin::Page Title-->
                    <h5 class="text-dark font-weight-bold my-1 mr-5"> {{ target_value_name }} 예측분석</h5>
                    <!--end::Page Title-->
                </div>
                <!--end::Page Heading-->
            </div>
            <!--end::Info-->

        </div>
    </div>
    <!--end::Subheader-->

    <!--begin::Entry-->
`	<div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <!--begin::Notice-->

            <!--end::Notice-->
            <!--begin::Row-->
            <div class="d-flex flex-column-fluid">
							<!--begin::Container-->
							<div class="container">



                                <!-- 모델목록 시작-->
                                <div class="card card-custom gutter-b">
									<div class="card-header flex-wrap border-0 pt-6 pb-0">
										<div class="card-title">
											<h3 class="card-label">모델목록( {{ target_value_name }} )
											<span class="d-block text-muted pt-2 font-size-sm">학습된 모델목록</span></h3>
										</div>
										<div class="card-toolbar">
											<!--begin::Button-->
											<a href="#" class="btn btn-primary font-weight-bolder">
											<span class="svg-icon svg-icon-md">
												<!--begin::Svg Icon | path:assets/media/svg/icons/Design/Flatten.svg-->
												<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
													<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
														<rect x="0" y="0" width="24" height="24" />
														<circle fill="#000000" cx="9" cy="15" r="6" />
														<path d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z" fill="#000000" opacity="0.3" />
													</g>
												</svg>
												<!--end::Svg Icon-->
											</span>탐색추천</a>
											<!--end::Button-->
										</div>
									</div>
									<div class="card-body">
										<!--begin: Datatable-->
										<table class="table table-separate table-head-custom table-checkable" id="kt_datatable1">
											<thead>
												<tr>
													<th>No</th>
													<th>모델ID</th>
													<th>모델명</th>
													<th>정확도</th>
													<th>변수목록</th>
                                                    <th>변수중요도</th>
													<th>생성일자</th>
													<th>수정일자</th>
                                                    <th>알고리즘</th>
                                                    <th>삭제여부</th>
												</tr>
											</thead>
											<tbody>
                                            {% for model in model_list %}
												<tr>
													<td>1</td>
													<td><button type="button" class="btn btn-primary" data-toggle="popover" id="btn_model_auto_start" onclick="selectModel('{{ model.target_code }}','{{ model.target_num }}','{{ model.model_name }}');" title="모델정보" data-html="true" data-content="변수목록">모델정보</button></td>
                                                    <td><a href="javascript:selectModel('{{ model.target_code }}','{{ model.target_num }}','{{ model.model_name }}');">{{ model.model_name }}</a></td>
													<td>98.5</td>
													<td>변수목록</td>
													<td>변수중요도</td>
													<td>{{ model.create_dtm | date:"Y-m-d h:i"  }}</td>
													<td>{{ model.update_dtm | date:"Y-m-d h:i" }}</td>
                                                    <td>{{ model.alg_name}}</td>
                                                <td nowrap="nowrap"></td>
												</tr>
                                            {% endfor %}
											</tbody>
										</table>
										<!--end: Datatable-->
									</div>
                                </div>

                                <!-- 모델목록 끝-->

                                <!--begin::Row-->
{#                            <div class="card card-custom gutter-b">#}
{#                             <div class="card-body">#}
{#                               <div class="row">#}
{#                                    <div class="col-xl-6 col-xxl-3">#}
{#                                        <!--begin::Nav Panels Wizard 1-->#}
{#                                        <div class="card card-custom gutter-b">#}
{#                                            <!--begin::Body-->#}
{#                                            <div class="card-body pt-15">#}
{#                                                <!--begin::User-->#}
{#                                                <div class="text-center mb-7">#}
{#                                                    <h4 class="font-weight-bold my-2">시간(TTT)</h4>#}
{#                                                </div>#}
{#                                                <!--end::User-->#}
{#                                                <!--begin::Nav-->#}
{#                                                <ul class="navi navi-hover navi-active navi-accent navi-link-rounded font-weight-bold pb-10">#}
{#                                                    <li class="navi-item py-1">#}
{#                                                        <table class="table" id = 'tttVarTableUl'>#}
{#                                                        </table>#}
{#                                                    </li>#}
{#                                                </ul>#}
{#                                                <!--end::Nav-->#}
{#                                            </div>#}
{#                                            <!--end::Body-->#}
{#                                        </div>#}
{#                                        <!--end::Nav Panels Wizard 1-->#}
{#                                    </div>#}
{#                                    <div class="col-xl-6 col-xxl-3">#}
{#                                        <!--begin::Nav Panels Wizard 1-->#}
{#                                        <div class="card card-custom gutter-b">#}
{#                                            <!--begin::Body-->#}
{#                                            <div class="card-body pt-15">#}
{#                                                <!--begin::User-->#}
{#                                                <div class="text-center mb-7">#}
{#                                                    <h4 class="font-weight-bold my-2">고철종류</h4>#}
{#                                                </div>#}
{#                                                <!--end::User-->#}
{#                                                <!--begin::Nav-->#}
{#                                                <ul class="navi navi-hover navi-active navi-accent navi-link-rounded font-weight-bold pb-10">#}
{#                                                    <li class="navi-item py-1">#}
{#                                                       <table class="table" id = 'steelVarTableUl'>#}
{#                                                       </table>#}
{#                                                    </li>#}
{#                                                </ul>#}
{#                                                <!--end::Nav-->#}
{#                                            </div>#}
{#                                            <!--end::Body-->#}
{#                                        </div>#}
{#                                        <!--end::Nav Panels Wizard 1-->#}
{#                                    </div>#}
{#                                    <div class="col-xl-6 col-xxl-3">#}
{#                                        <!--begin::Nav Panels Wizard 1-->#}
{#                                        <div class="card card-custom gutter-b">#}
{#                                            <!--begin::Body-->#}
{#                                            <div class="card-body pt-15">#}
{#                                                <!--begin::User-->#}
{#                                                <div class="text-center mb-7">#}
{#                                                    <h4 class="font-weight-bold my-2">부원료</h4>#}
{#                                                </div>#}
{#                                                <!--end::User-->#}
{#                                                <!--begin::Nav-->#}
{#                                                <ul class="navi navi-hover navi-active navi-accent navi-link-rounded font-weight-bold pb-10">#}
{#                                                    <li class="navi-item py-1">#}
{#                                                           <table class="table" id = 'matVarTableUl'>#}
{#                                                            </table>#}
{#                                                    </li>#}
{#                                                </ul>#}
{#                                                <!--end::Nav-->#}
{#                                            </div>#}
{#                                            <!--end::Body-->#}
{#                                        </div>#}
{#                                        <!--end::Nav Panels Wizard 1-->#}
{#                                    </div>#}
{#                                    <div class="col-xl-6 col-xxl-3">#}
{#                                        <!--begin::Nav Panels Wizard 1-->#}
{#                                        <div class="card card-custom gutter-b">#}
{#                                            <!--begin::Body-->#}
{#                                            <div class="card-body pt-15">#}
{#                                                <!--begin::User-->#}
{#                                                <div class="text-center mb-7">#}
{#                                                    <h4 class="font-weight-bold my-2">설비</h4>#}
{#                                                </div>#}
{#                                                <!--end::User-->#}
{#                                                <!--begin::Nav-->#}
{#                                                <ul class="navi navi-hover navi-active navi-accent navi-link-rounded font-weight-bold pb-10">#}
{#                                                    <li class="navi-item py-1">#}
{#                                                         <table class="table" id = 'equipVarTableUl'>#}
{#                                                         </table>#}
{#                                                    </li>#}
{#                                                </ul>#}
{#                                                <!--end::Nav-->#}
{#                                            </div>#}
{#                                            <!--end::Body-->#}
{#                                        </div>#}
{#                                        <!--end::Nav Panels Wizard 1-->#}
{#                                    </div>#}
{#                                    <div class="col-xl-6 col-xxl-3">#}
{#                                        <!--begin::Nav Panels Wizard 1-->#}
{#                                        <div class="card card-custom gutter-b">#}
{#                                            <!--begin::Body-->#}
{#                                            <div class="card-body pt-15">#}
{#                                                <!--begin::User-->#}
{#                                                <div class="text-center mb-7">#}
{#                                                    <h4 class="font-weight-bold my-2">기타</h4>#}
{#                                                </div>#}
{#                                                <!--end::User-->#}
{#                                                <!--begin::Nav-->#}
{#                                                <ul class="navi navi-hover navi-active navi-accent navi-link-rounded font-weight-bold pb-10">#}
{#                                                    <li class="navi-item py-1">#}
{#                                                         <table class="table" id = 'etcVarTableUl'>#}
{#                                                         </table>#}
{#                                                    </li>#}
{#                                                </ul>#}
{#                                                <!--end::Nav-->#}
{#                                            </div>#}
{#                                            <!--end::Body-->#}
{#                                        </div>#}
{#                                        <!--end::Nav Panels Wizard 1-->#}
{#                                    </div>#}
{##}
{#                                </div>#}
{#                                 <button type="button" class="btn btn-primary" onclick="searchOptimal()">최적추천탐색</button>#}
{#                             </div>#}
{#                            </div>#}
                            <div class="card card-custom gutter-b">
                   <div class="card-body">
                     <div class="row">
                       <table class="table table-separate table-head-custom">
                            <tr>
                                <td>
                                    <div class="text-center mb-7">
                                        <h4 class="font-weight-normal my-2">시간(TTT)</h4>
                                    </div>
                                    <ul class="navi navi-hover navi-active navi-accent navi-link-rounded font-weight-bold pb-10">
                                        <li class="navi-item py-1">
                                            <table class="table-success" id = 'tttVarTableUl'>
                                            </table>
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    <div class="text-center mb-7">
                                        <h4 class="font-weight-bold my-2">고철종류</h4>
                                    </div>

                                    <ul class="navi navi-hover navi-active navi-accent navi-link-rounded font-weight-bold pb-10">
                                        <li class="navi-item py-1">
                                           <table class="table-success" id = 'steelVarTableUl'>
                                           </table>
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    <div class="text-center mb-7">
                                        <h4 class="font-weight-bold my-2">부원료</h4>
                                    </div>

                                    <ul class="navi navi-hover navi-active navi-accent navi-link-rounded font-weight-bold pb-10">
                                        <li class="navi-item py-1">
                                               <table class="table-success" id = 'matVarTableUl'>
                                                </table>
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    <div class="text-center mb-7">
                                        <h4 class="font-weight-bold my-2">설비</h4>
                                    </div>
                                    <ul class="navi navi-hover navi-active navi-accent navi-link-rounded font-weight-bold pb-10">
                                        <li class="navi-item py-1">
                                             <table class="table-success" id = 'equipVarTableUl'>
                                             </table>
                                        </li>
                                    </ul>

                                </td>
                                <td>
                                    <div class="text-center mb-7">
                                        <h4 class="font-weight-bold my-2">기타</h4>
                                    </div>
                                    <!--end::User-->
                                    <!--begin::Nav-->
                                    <ul class="navi navi-hover navi-active navi-accent navi-link-rounded font-weight-bold pb-10">
                                        <li class="navi-item py-1">
                                             <table class="table-success" id = 'etcVarTableUl'>
                                             </table>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                       </table>
                         <button type="button" class="btn btn-primary" onclick="searchOptimal()">최적추천탐색</button>
                </div>

             </div>
                </div>

							</div>
                           <!--begin::Modal-->

                            <!--end::Modal-->

							<!--end::Container-->
						</div>
        <!--begin::Nav Panels Wizard 4-->

        <!--end::Nav Panels Wizard 4-->



            <!--end::Row-->

        </div>

	</div>

	<!--end::Entry-->
</div>


{% verbatim %}
<script type="template" id="commentTemplate">
       <h3 class="card-label" >모델명 : {{model_name}} </h3>
</script>
{% endverbatim %}



    {#      {% for var in esstial_var_list %}#}
{#           <label class="checkbox checkbox-success">#}
{#           <input type="checkbox" name="modelVar" checked='checked' disabled="disabled" value="{{ var.0 }}"/>#}
{#           <span></span>{{ var.1 }}</label>#}
{#       {% endfor %}#}


{% verbatim %}

<script type="template" id="essVarTableTemplate">
<thead>

    <tr>
        {{#var_info_dic_list}}

        <th scope="col">{{var_name}}   </th>
        {{/var_info_dic_list}}

    </tr>
</thead>
<tbody>
    <tr class="table-success">
        {{#var_info_dic_list}}
            <th scope="row"><input class="form-control" style="width:80px;" type="text"  id={{var_code}}></th>
        {{/var_info_dic_list}}

    </tr>

</script>
{% endverbatim %}



{% verbatim %}
<script type="template" id="tttVarTableTemplate">
    <tbody>
       {{#ttt_dic_list}}
        <tr class="table-success">
            <th scope="row" style="vertical-align: middle;">{{var_name}}</th>
            <td><input class="form-control" style= "{{style_value}}" type="text"  value = "{{ var_value }}" id="{{var_code}}"></td>
        </tr>
        {{/ttt_dic_list}}
    </tbody>
</script>
{% endverbatim %}


{% verbatim %}
<script type="template" id="steelVarTableTemplate">
    <tbody>
       {{#steel_dic_list}}
        <tr class="table-success">
            <th scope="row" style="vertical-align: middle;">{{var_name}}</th>
            <td><input class="form-control" style= "{{style_value}}" type="text"  value = "{{ var_value }}" id="{{var_code}}"></td>
        </tr>
        {{/steel_dic_list}}
    </tbody>
</script>
{% endverbatim %}

    {% verbatim %}
<script type="template" id="matVarTableTemplate">
    <tbody>
       {{#mat_dic_list}}
        <tr class="table-success">
            <th scope="row" style="vertical-align: middle;">{{var_name}}</th>
            <td><input class="form-control" style= "{{style_value}}" type="text"  value = "{{ var_value }}" id="{{var_code}}"></td>
        </tr>
        {{/mat_dic_list}}
    </tbody>
</script>
{% endverbatim %}

{% verbatim %}
<script type="template" id="equipVarTableTemplate">
    <tbody>
       {{#equip_dic_list}}
        <tr class="table-success">
            <th scope="row" style="vertical-align: middle;">{{var_name}}</th>
            <td><input class="form-control" style= "{{style_value}}" type="text"  value = "{{ var_value }}" id="{{var_code}}"></td>
        </tr>
        {{/equip_dic_list}}
    </tbody>
</script>
{% endverbatim %}

{% verbatim %}
<script type="template" id="etcVarTableTemplate">
    <tbody>
       {{#etc_dic_list}}
        <tr class="table-success">
            <th scope="row" style="vertical-align: middle;">{{var_name}}</th>
            <td><input class="form-control" style= "{{style_value}}" type="text"  value = "{{ var_value }}" id="{{var_code}}"></td>
        </tr>
        {{/etc_dic_list}}
    </tbody>
</script>
{% endverbatim %}

<script>
      function CloseModal(){
         var CloseModal = document.querySelector(".modaltest");
         CloseModal.classList.add("CloseModal");
      }
</script>


<script>
global_target_code = "";
global_target_num = "";

function selectModel(target_code,target_num,model_name) {


       // 데이터
       setTimeout(openPreload,30)
       global_target_code = target_code;
       global_target_num = target_num;

       parameterList = {
          target_code : target_code,
          target_num : target_num,
          csrfmiddlewaretoken: '{{ csrf_token }}'
       }
       $.ajax({

                type: "post",
                async: true,
                url: "{% url 'search_var_info' %}",
                dataType: "json",
                data: parameterList,
                success: function (response) {
                      //var_info_list = response.var_info_list;
                      {#alert(var_info_list[0][0]);#} //target_code
                      {#alert(var_info_list[0][1]);#} //target_num
                      {#alert(var_info_list[0][2]);#} //var_code
                      {#alert(var_info_list[0][3]);#} //var_name


                       // TTT 입력변수 테이블
                     if(response.ttt_var_list !== '') {

                            var ttt_dic_list = chahgeDictList(response.ttt_var_list);

                            var tttVarData = {
                                ttt_dic_list: ttt_dic_list,
                            }

                            var tttVarTableTemplate = document.querySelector("#tttVarTableTemplate").innerHTML;
                            var essVarTableBindTemplate = Handlebars.compile(tttVarTableTemplate);

                            var resultHtml = '';
                            resultHtml += essVarTableBindTemplate(tttVarData);
                            var tttVarTableUl = document.querySelector("#tttVarTableUl");
                            tttVarTableUl.innerHTML = resultHtml;
                     } else {
                               var tttVarTableUl = document.querySelector("#tttVarTableUl");
                               tttVarTableUl.innerHTML = "";
                       }

                       // 고철 입력변수 테이블
                      if(response.steel_var_list !== '') {
                              var steel_dic_list = chahgeDictList(response.steel_var_list);

                              var steelVarData = {
                                  steel_dic_list: steel_dic_list,
                              }
                              var steelVarTableTemplate = document.querySelector("#steelVarTableTemplate").innerHTML;
                              var steelVarTableBindTemplate = Handlebars.compile(steelVarTableTemplate);

                              var resultHtml = '';
                              resultHtml += steelVarTableBindTemplate(steelVarData);
                              var steelVarTableUl = document.querySelector("#steelVarTableUl");
                              steelVarTableUl.innerHTML = resultHtml;
                      } else {
                               var steelVarTableUl = document.querySelector("#steelVarTableUl");
                               steelVarTableUl.innerHTML = "";
                       }



                       // 부자재 입력변수 테이블
                       if(response.mat_var_list !== '') {
                               var mat_dic_list = chahgeDictList(response.mat_var_list);

                               var matVarData = {
                                   mat_dic_list: mat_dic_list,
                               }
                               var matVarTableTemplate = document.querySelector("#matVarTableTemplate").innerHTML;
                               var matVarTableBindTemplate = Handlebars.compile(matVarTableTemplate);

                               var resultHtml = '';
                               resultHtml += matVarTableBindTemplate(matVarData);
                               var matVarTableUl = document.querySelector("#matVarTableUl");
                               matVarTableUl.innerHTML = resultHtml;
                       } else {
                               var matVarTableUl = document.querySelector("#matVarTableUl");
                               matVarTableUl.innerHTML = "";
                       }


                       // 설비 입력변수 테이블
                       if(response.equip_var_list !== '') {
                               var equip_dic_list = chahgeDictList(response.equip_var_list);

                               var equipVarData = {
                                   equip_dic_list: equip_dic_list,
                               }
                               var equipVarTableTemplate = document.querySelector("#equipVarTableTemplate").innerHTML;
                               var equipVarTableBindTemplate = Handlebars.compile(equipVarTableTemplate);

                               var resultHtml = '';
                               resultHtml += equipVarTableBindTemplate(equipVarData);
                               var equipVarTableUl = document.querySelector("#equipVarTableUl");
                               equipVarTableUl.innerHTML = resultHtml;
                       } else {
                               var equipVarTableUl = document.querySelector("#equipVarTableUl");
                               equipVarTableUl.innerHTML = "";
                       }
                       // 기타 입력변수 테이블
                       if(response.etc_var_list !== '') {
                               var etc_dic_list = chahgeDictList(response.etc_var_list);

                               var etcVarData = {
                                   etc_dic_list: etc_dic_list,
                               }
                               var etcVarTableTemplate = document.querySelector("#etcVarTableTemplate").innerHTML;
                               var etcVarTableBindTemplate = Handlebars.compile(etcVarTableTemplate);

                               var resultHtml = '';
                               resultHtml += etcVarTableBindTemplate(etcVarData);
                               var etcVarTableUl = document.querySelector("#etcVarTableUl");
                               etcVarTableUl.innerHTML = resultHtml;
                       } else {
                               var etcVarTableUl = document.querySelector("#etcVarTableUl");
                               etcVarTableUl.innerHTML = "";
                       }

                     closePreload();
                }
        });
  }
  // Dictionary 데이타 타입으로 변환
  function chahgeDictList(inputList) {


      var dic_list = []

      for (i = 0; i < inputList.length; i++) {
          temp_dict = {
              var_code: inputList[i][1],
              var_name: inputList[i][2],
          };


          var dic_list = []

          for (i = 0; i < inputList.length; i++) {
              temp_dict = {
                  var_code: inputList[i][1],
                  var_name: inputList[i][2],
                  style_value: 'width:100px;height:30px',
              };

              dic_list.push(temp_dict);
          }
          return dic_list;
      }
  }

    // Dictionary 데이타 타입으로 변환
  function chahgeFinalDictList(inputList) {

      var dic_list = []
      {#alert(inputList[0][0]);#}
      {#alert(inputList[0][1]);#}
      {#alert(inputList[0][2]);#}
      {#alert(inputList[0][3]);#}

      for ( i =0 ; i < inputList.length;i++) {
          style_value = 'width:100px;height:30px;text-align:right';
          if (inputList[i][3] === 'Y') {
              style_value = 'width:100px;height:30px;text-align:right;color:red'
          } else {
              style_value = 'width:100px;height:30px;text-align:right'
          }
          temp_dict = {
              var_code: inputList[i][0],
              var_name: inputList[i][1],
              var_value: inputList[i][2],
              style_value: style_value,
          };

          dic_list.push(temp_dict);
      }
      return dic_list;
  }
</script>


<script>

  globalPanNum = 1
  $(document).ready(function(){

      $("#opDetail").hide();
      openPreload();
      //setSingleVarRadio();
      closePreload();

  });






 // 로딩바 보이기
    function openPreload() {
        $("#preloader").show();
    }

    // 로딩바 숨기기
    function closePreload() {
        $("#preloader").hide();
    }

    function searchOperateNumber() {
        opNum = $("#txtOpNum").val()
        parameterList = {
          op_num : opNum,
          csrfmiddlewaretoken: '{{ csrf_token }}'
      }
        openPreload();

        $.ajax({

                type: "post",
                async: true,
                url: "{% url 'search_operate_number' %}",
                dataType: "json",
                data: parameterList,
                success: function (response) {

                   $("#opDetail").show();
                   entry_time =  response.smart_op_sum_dict.entry_time
                   melt_start_time =  response.smart_op_sum_dict.melt_start_time
                   melt_add_time =  response.smart_op_sum_dict.melt_add_time
                   refine_time =  response.smart_op_sum_dict.refine_time
                   steel_out_time =  response.smart_op_sum_dict.steel_out_time
                   total_time =  response.smart_op_sum_dict.total_time

                   //고철철
                   heavy_scrap_a =  response.smart_op_sum_dict.heavy_scrap_a
                   heavy_scrap_b =  response.smart_op_sum_dict.heavy_scrap_b
                   light_scrap_a =  response.smart_op_sum_dict.light_scrap_a
                   light_scrap_b =  response.smart_op_sum_dict.light_scrap_b
                   gsa =  response.smart_op_sum_dict.gsa
                   gsb =  response.smart_op_sum_dict.gsb
                   gss =  response.smart_op_sum_dict.gss
                   mb =  response.smart_op_sum_dict.mb
                   lathe_b =  response.smart_op_sum_dict.lathe_b
                   scrap_metal_usage =  response.smart_op_sum_dict.scrap_metal_usage
                   scrap_avg_ton =  response.smart_op_sum_dict.scrap_avg_ton

                    //
                   gravity =  response.smart_op_sum_dict.gravity
                   power_factor =  response.smart_op_sum_dict.power_factor
                   electric_22kv =  response.smart_op_sum_dict.electric_22kv
                   melt_first_elec_charge =  response.smart_op_sum_dict.melt_first_elec_charge
                   melt_finish_elec_charge =  response.smart_op_sum_dict.melt_finish_elec_charge
                   refine_elec_charge =  response.smart_op_sum_dict.refine_elec_charge
                   total_elec_charge =  response.smart_op_sum_dict.total_elec_charge
                   melt_elec_speed =  response.smart_op_sum_dict.melt_elec_speed
                   melt_down_carbon_c =  response.smart_op_sum_dict.melt_down_carbon_c
                   briquet_hp =  response.smart_op_sum_dict.briquet_hp
                   bri_hp2 =  response.smart_op_sum_dict.bri_hp2



                   elec_fumace_p =  response.smart_op_sum_dict.elec_fumace_p
                   elec_fumace_s =  response.smart_op_sum_dict.elec_fumace_s
                   elec_fumace_volt =  response.smart_op_sum_dict.elec_fumace_volt
                   elec_fumace_current =  response.smart_op_sum_dict.elec_fumace_current
                   gsk =  response.smart_op_sum_dict.gsk
                   stain =  response.smart_op_sum_dict.stain
                   oxy_bunner =  response.smart_op_sum_dict.oxy_bunner
                   oxy_lance =  response.smart_op_sum_dict.oxy_lance
                   lance_flux =  response.smart_op_sum_dict.lance_flux
                   lance_height =  response.smart_op_sum_dict.lance_height
                   lance_width =  response.smart_op_sum_dict.lance_width
                   lance_til_area =  response.smart_op_sum_dict.lance_til_area


                   elec_pre_air_vol =  response.smart_op_sum_dict.elec_pre_air_vol
                   elec_pre_dry_degree =  response.smart_op_sum_dict.elec_pre_dry_degree
                   elec_pre_dir_degree =  response.smart_op_sum_dict.elec_pre_dir_degree
                   master_pos =  response.smart_op_sum_dict.master_pos
                   master_move_distance =  response.smart_op_sum_dict.master_move_distance
                   melt_elec_1 =  response.smart_op_sum_dict.melt_elec_1
                   melt_elec_2 =  response.smart_op_sum_dict.melt_elec_2
                   melt_elec_3 =  response.smart_op_sum_dict.melt_elec_3
                   elec_put_efficiency =  response.smart_op_sum_dict.elec_put_efficiency
                   steel_out_vol =  response.smart_op_sum_dict.steel_out_vol
                   elec_put_efficiency =  response.smart_op_sum_dict.elec_put_efficiency
                   product_vol =  response.smart_op_sum_dict.product_vol
                   steel_out_rate =  response.smart_op_sum_dict.steel_out_rate
                   steel_product =  response.smart_op_sum_dict.steel_product



                   $("#entry_time").val(entry_time);
                   $("#melt_start_time").val(melt_start_time);
                   $("#melt_add_time").val(melt_add_time);
                   $("#refine_time").val(refine_time);
                   $("#steel_out_time").val(steel_out_time);
                   $("#total_time").val(total_time);

                   $("#heavy_scrap_a").val(heavy_scrap_a);
                   $("#heavy_scrap_b").val(heavy_scrap_b);
                   $("#light_scrap_a").val(light_scrap_a);
                   $("#light_scrap_b").val(light_scrap_b);
                   $("#gsa").val(gsa);
                   $("#gsb").val(gsb);
                   $("#gss").val(gss);
                   $("#mb").val(mb);
                   $("#lathe_b").val(lathe_b);
                   $("#scrap_metal_usage").val(scrap_metal_usage);
                   $("#scrap_avg_ton").val(scrap_avg_ton);


                   $("#gravity").val(gravity);
                   $("#power_factor").val(power_factor);
                   $("#electric_22kv").val(electric_22kv);
                   $("#melt_first_elec_charge").val(melt_first_elec_charge);
                   $("#melt_finish_elec_charge").val(melt_finish_elec_charge);
                   $("#refine_elec_charge").val(refine_elec_charge);
                   $("#total_elec_charge").val(total_elec_charge);
                   $("#melt_elec_speed").val(melt_elec_speed);
                   $("#melt_down_carbon_c").val(melt_down_carbon_c);
                   $("#briquet_hp").val(briquet_hp);
                   $("#bri_hp2").val(bri_hp2);

                   $("#elec_fumace_p").val(elec_fumace_p);
                   $("#elec_fumace_s").val(elec_fumace_s);
                   $("#elec_fumace_volt").val(elec_fumace_volt);
                   $("#elec_fumace_current").val(elec_fumace_current);
                   $("#gsk").val(gsk);
                   $("#stain").val(stain);
                   $("#oxy_bunner").val(oxy_bunner);
                   $("#oxy_lance").val(oxy_lance);
                   $("#lance_flux").val(lance_flux);
                   $("#lance_height").val(lance_height);
                   $("#lance_width").val(lance_width);
                   $("#lance_til_area").val(lance_til_area)

                   $("#elec_pre_air_vol").val(elec_pre_air_vol);
                   $("#elec_pre_dry_degree").val(elec_pre_dry_degree);
                   $("#elec_pre_dir_degree").val(elec_pre_dir_degree);
                   $("#master_pos").val(master_pos);
                   $("#master_move_distance").val(master_move_distance);
                   $("#melt_elec_1").val(melt_elec_1);
                   $("#melt_elec_2").val(melt_elec_2);
                   $("#melt_elec_3").val(melt_elec_3);
                   $("#elec_put_efficiency").val(elec_put_efficiency);
                   $("#steel_out_vol").val(steel_out_vol);
                   $("#product_vol").val(product_vol);
                   $("#steel_out_rate").val(steel_out_rate);
                   $("#steel_product").val(steel_product);

                }
        });
        closePreload();

    }

    // 필수 입력변수 세팅
    function getEssVar(varCode,varValue) {
        if(varValue === '') {
            varValue = 0.0;
        } else {
            varValue = parseFloat(varValue);
        }
        var data = new Object() ;
        data.var_code = varCode;
        data.var_value = varValue;


        return data;

    }

       // 필수 입력변수 세팅
    function getEssVar_old(varCode,varValue) {
        if(varValue === '') {
            varValue = 0.0;
        } else {
            varValue = parseFloat(varValue);
        }
        var data = {}
        data[varCode] = varValue;
        return data;


    }


    // 선택변수 세팅
    function getSelectVar(varCode,varValue) {

        varValue = parseFloat(varValue);
        var data = new Object() ;
        data.var_code = varCode;
        data.val_value = varValue;

        return data;
    }

        // 선택변수 세팅
    function setSelectVar_OLD(varCode,varValue) {

        varValue = parseFloat(varValue);
        var data = {}
        data[varCode] = varValue;
        return data;
    }


    function isVarEmpty(varCode,varValue) {

        if(varValue === '' || varValue === undefined) {
            return true;
        } else {
            return false;
        }

    }




    // 최적 추천탐색을 위한 예측실행

    function searchOptimal() {

       {#alert(ttt_dic_list[0].var_code);#}
       {#alert(ttt_dic_list[0].var_name);#}
       {#ttt_dic_list[0].value = 10;#}

       var varNameList = [];
       var varList = [];



       // TTT 입력변수 세팅 시작
       entry_time = $("#entry_time").val();
       melt_start_time = $("#melt_start_time").val();
       melt_add_time = $("#melt_add_time").val();
       refine_time  = $("#refine_time").val();
       steel_out_time = $("#steel_out_time").val();
       total_time = $("#total_time").val();

       // TTT 입력변수 세팅

       isEmpty = isVarEmpty('entry_time',entry_time);

       if(!isEmpty) {
           varNameList.push('entry_time');
           varList.push(entry_time);
       }
       isEmpty = isVarEmpty('melt_start_time',melt_start_time);
       if(!isEmpty) {
           varNameList.push('melt_start_time');
           varList.push(melt_start_time);
       }

       isEmpty = isVarEmpty('melt_add_time',melt_add_time);
       if(!isEmpty) {
           varNameList.push('melt_add_time');
           varList.push(melt_add_time);
       }

       isEmpty = isVarEmpty('refine_time',refine_time);

       if(!isEmpty) {
           varNameList.push('refine_time');
           varList.push(refine_time);
       }


       isEmpty = isVarEmpty('steel_out_time',steel_out_time);
       if(!isEmpty) {
           varNameList.push('steel_out_time');
           varList.push(steel_out_time);
       }

       isEmpty = isVarEmpty('total_time',total_time);
       if(!isEmpty) {
           varNameList.push('total_time');
           varList.push(total_time);
       }

       // TTT 입력변수 세팅 완료


       // 고철종류 입력변수 세팅
       heavy_scrap_a = $("#heavy_scrap_a").val();
       heavy_scrap_b = $("#heavy_scrap_b").val();
       light_scrap_a = $("#light_scrap_a").val();
       light_scrap_b = $("#light_scrap_b").val();
       gsa = $("#gsa").val();
       gsb = $("#gsb").val();
       gss = $("#gss").val();
       mb = $("#mb").val();
       lathe_b = $("#lathe_b").val();
       scrap_metal_usage = $("#scrap_metal_usage").val();
       scrap_avg_ton = $("#scrap_avg_ton").val();


       isEmpty = isVarEmpty('heavy_scrap_a',heavy_scrap_a);

       if(!isEmpty) {
           varNameList.push('heavy_scrap_a');
           varList.push(heavy_scrap_a);
       }

       isEmpty = isVarEmpty('heavy_scrap_b',heavy_scrap_b);
       if(!isEmpty) {
           varNameList.push('heavy_scrap_b');
           varList.push(heavy_scrap_b);
       }

       isEmpty = isVarEmpty('light_scrap_a',light_scrap_a);
       if(!isEmpty) {
           varNameList.push('light_scrap_a');
           varList.push(light_scrap_a);
       }

       isEmpty = isVarEmpty('light_scrap_b',light_scrap_b);
       if(!isEmpty) {
           varNameList.push('light_scrap_b');
           varList.push(light_scrap_b);
       }

       isEmpty = isVarEmpty('gsa',gsa);
       if(!isEmpty) {
           varNameList.push('gsa');
           varList.push(gsa);
       }

       isEmpty = isVarEmpty('gsb',gsb);
       if(!isEmpty) {
           varNameList.push('gsb');
           varList.push(gsb);
       }

       isEmpty = isVarEmpty('gss',gss);
       if(!isEmpty) {
           varNameList.push('gss');
           varList.push(gss);
       }

       isEmpty = isVarEmpty('mb',mb);
       if(!isEmpty) {
           varNameList.push('mb');
           varList.push(mb);
       }

       isEmpty = isVarEmpty('lathe_b',lathe_b);
       if(!isEmpty) {
           varNameList.push('lathe_b');
           varList.push(lathe_b);
       }

       isEmpty = isVarEmpty('scrap_metal_usage',scrap_metal_usage);
       if(!isEmpty) {
           varNameList.push('scrap_metal_usage');
           varList.push(scrap_metal_usage);
       }

       isEmpty = isVarEmpty('scrap_avg_ton',scrap_avg_ton);
       if(!isEmpty) {
           varNameList.push('scrap_avg_ton');
           varList.push(scrap_avg_ton);
       }
       // 고철종류 입력변수 세팅 완료


       // 부원료 입력변수 세팅 시작
       melt_down_carbon_c = $("#melt_down_carbon_c").val();
       briquet_hp = $("#briquet_hp").val();
       bri_hp2 = $("#bri_hp2").val();
       gsk = $("#gsk").val();
       stain = $("#stain").val();
       oxy_bunner = $("#oxy_bunner").val();
       oxy_lance = $("#oxy_lance").val();
       lance_flux = $("#lance_flux").val();
       lance_height = $("#lance_height").val();
       lance_width = $("#lance_width").val();


       isEmpty = isVarEmpty('melt_down_carbon_c',melt_down_carbon_c);
       if(!isEmpty) {
           varNameList.push('melt_down_carbon_c');
           varList.push(melt_down_carbon_c);
       }

       isEmpty = isVarEmpty('briquet_hp',briquet_hp);
       if(!isEmpty) {
           varNameList.push('briquet_hp');
           varList.push(briquet_hp);
       }

       isEmpty = isVarEmpty('bri_hp2',bri_hp2);
       if(!isEmpty) {
           varNameList.push('bri_hp2');
           varList.push(bri_hp2);
       }

       isEmpty = isVarEmpty('gsk',gsk);
       if(!isEmpty) {
           varNameList.push('gsk');
           varList.push(gsk);
       }

       isEmpty = isVarEmpty('stain',stain);
       if(!isEmpty) {
           varNameList.push('stain');
           varList.push(stain);
       }

       isEmpty = isVarEmpty('oxy_bunner',oxy_bunner);
       if(!isEmpty) {
           varNameList.push('oxy_bunner');
           varList.push(oxy_bunner);
       }


       isEmpty = isVarEmpty('oxy_lance',oxy_lance);
       if(!isEmpty) {
           varNameList.push('oxy_lance');
           varList.push(oxy_lance);
       }

       isEmpty = isVarEmpty('lance_flux',lance_flux);
       if(!isEmpty) {
           varNameList.push('lance_flux');
           varList.push(lance_flux);
       }

       isEmpty = isVarEmpty('lance_height',lance_height);
       if(!isEmpty) {
           varNameList.push('lance_height');
           varList.push(lance_height);
       }

       isEmpty = isVarEmpty('lance_width',lance_width);
       if(!isEmpty) {
           varNameList.push('lance_width');
           varList.push(lance_width);
       }
       // 부원료 입력변수 세팅완료

       // 설비 입력변수 세팅시작
       lance_til_area = $("#lance_til_area").val();
       elec_pre_air_vol = $("#elec_pre_air_vol").val();
       elec_pre_dry_degree = $("#elec_pre_dry_degree").val();
       elec_pre_dir_degree = $("#elec_pre_dir_degree").val();
       master_pos = $("#master_pos").val();
       master_move_distance = $("#master_move_distance").val();
       melt_elec_1 = $("#melt_elec_1").val();
       melt_elec_2 = $("#melt_elec_2").val();
       melt_elec_3 = $("#melt_elec_3").val();
       elec_put_efficiency = $("#elec_put_efficiency").val();


       isEmpty = isVarEmpty('lance_til_area',lance_til_area);
       if(!isEmpty) {
           varNameList.push('lance_til_area');
           varList.push(lance_til_area);
       }

       isEmpty = isVarEmpty('elec_pre_air_vol',elec_pre_air_vol);

       if(!isEmpty) {
           varNameList.push('elec_pre_air_vol');
           varList.push(elec_pre_air_vol);
       }

       isEmpty = isVarEmpty('elec_pre_dry_degree',elec_pre_dry_degree);
       if(!isEmpty) {
           varNameList.push('elec_pre_dry_degree');
           varList.push(elec_pre_dry_degree);
       }
       isEmpty = isVarEmpty('elec_pre_dir_degree',elec_pre_dir_degree);
       if(!isEmpty) {
           varNameList.push('elec_pre_dir_degree');
           varList.push(elec_pre_dir_degree);
       }

       isEmpty = isVarEmpty('master_pos',master_pos);
       if(!isEmpty) {
           varNameList.push('master_pos');
           varList.push(master_pos);
       }


       isEmpty = isVarEmpty('lance_flux',lance_flux);
       if(!isEmpty) {
           varNameList.push('lance_flux');
           varList.push(lance_flux);
       }

       isEmpty = isVarEmpty('lance_height',lance_height);
       if(!isEmpty) {
           varNameList.push('lance_height');
           varList.push(lance_height);
       }

       isEmpty = isVarEmpty('lance_width',lance_width);
       if(!isEmpty) {
           varNameList.push('lance_width');
           varList.push(lance_width);
       }
       // 설비 입력변수  세팅완료


       // 기타 입력변수 세팅 시작
       gravity = $("#gravity").val();
       power_factor = $("#power_factor").val();
       electric_22kv = $("#electric_22kv").val();
       melt_first_elec_charge = $("#melt_first_elec_charge").val();
       melt_finish_elec_charge = $("#melt_finish_elec_charge").val();
       refine_elec_charge = $("#refine_elec_charge").val();
       total_elec_charge = $("#total_elec_charge").val();
       melt_elec_speed = $("#melt_elec_speed").val();
       elec_fumace_p = $("#elec_fumace_p").val();
       elec_fumace_s = $("#elec_fumace_s").val();
       elec_fumace_volt = $("#elec_fumace_volt").val();
       elec_fumace_current = $("#elec_fumace_current").val();
       steel_out_vol = $("#steel_out_vol").val();
       product_vol = $("#product_vol").val();
       steel_out_rate = $("#steel_out_rate").val();
       steel_product = $("#steel_product").val();



       isEmpty = isVarEmpty('gravity',gravity);
       if(!isEmpty) {
           varNameList.push('gravity');
           varList.push(gravity);
       }


       isEmpty = isVarEmpty('power_factor',power_factor);
       if(!isEmpty) {
           varNameList.push('power_factor');
           varList.push(power_factor);
       }

       isEmpty = isVarEmpty('electric_22kv',electric_22kv);
       if(!isEmpty) {
           varNameList.push('electric_22kv');
           varList.push(electric_22kv);
       }

       isEmpty = isVarEmpty('melt_first_elec_charge',melt_first_elec_charge);
       if(!isEmpty) {
           varNameList.push('melt_first_elec_charge');
           varList.push(melt_first_elec_charge);
       }

       isEmpty = isVarEmpty('melt_finish_elec_charge',melt_finish_elec_charge);
       if(!isEmpty) {
           varNameList.push('melt_finish_elec_charge');
           varList.push(melt_finish_elec_charge);
       }

       isEmpty = isVarEmpty('refine_elec_charge',refine_elec_charge);
       if(!isEmpty) {
           varNameList.push('refine_elec_charge');
           varList.push(refine_elec_charge);
       }

       isEmpty = isVarEmpty('total_elec_charge',total_elec_charge);
       if(!isEmpty) {
           varNameList.push('total_elec_charge');
           varList.push(total_elec_charge);
       }

       isEmpty = isVarEmpty('melt_elec_speed',melt_elec_speed);
       if(!isEmpty) {
           varNameList.push('melt_elec_speed');
           varList.push(melt_elec_speed);
       }

       isEmpty = isVarEmpty('elec_fumace_p',elec_fumace_p);
       if(!isEmpty) {
           varNameList.push('elec_fumace_p');
           varList.push(elec_fumace_p);
       }

       isEmpty = isVarEmpty('elec_fumace_s',elec_fumace_s);
       if(!isEmpty) {
           varNameList.push('elec_fumace_s');
           varList.push(elec_fumace_s);
       }

       isEmpty = isVarEmpty('elec_fumace_volt',elec_fumace_volt);
       if(!isEmpty) {
           varNameList.push('elec_fumace_volt');
           varList.push(elec_fumace_volt);
       }

       isEmpty = isVarEmpty('elec_fumace_current',elec_fumace_current);
       if(!isEmpty) {
           varNameList.push('elec_fumace_current');
           varList.push(elec_fumace_current);
       }

       isEmpty = isVarEmpty('steel_out_vol',steel_out_vol);
       if(!isEmpty) {
           varNameList.push('steel_out_vol');
           varList.push(steel_out_vol);
       }

       isEmpty = isVarEmpty('product_vol',product_vol);
       if(!isEmpty) {
           varNameList.push('product_vol');
           varList.push(product_vol);
       }

       isEmpty = isVarEmpty('steel_out_rate',steel_out_rate);
       if(!isEmpty) {
           varNameList.push('steel_out_rate');
           varList.push(steel_out_rate);
       }

       isEmpty = isVarEmpty('steel_product',steel_product);
       if(!isEmpty) {
           varNameList.push('steel_product');
           varList.push(steel_product);
       }
       // 기타 입력변수 세팅 완료



        setTimeout(openPreload,30)

        parameterList = {
          target_code  : global_target_code,
          target_num : global_target_num,
          var_list : varList,
          var_name_list : varNameList,
          csrfmiddlewaretoken: '{{ csrf_token }}'
        }


        $.ajax({

                type: "post",
                async: true,
                url: "{% url 'search_optimal_predict' %}",
                dataType: "json",
                data: parameterList,
                success: function (response) {


                   // 시간(TTT)
                   ttt_dic_list = chahgeFinalDictList(response.ttt_var_list);

                    var tttVarData = {
                        ttt_dic_list: ttt_dic_list,
                    }

                    var tttVarTableTemplate = document.querySelector("#tttVarTableTemplate").innerHTML;
                    var essVarTableBindTemplate = Handlebars.compile(tttVarTableTemplate);

                    var resultHtml = '';
                    resultHtml += essVarTableBindTemplate(tttVarData);
                    var tttVarTableUl = document.querySelector("#tttVarTableUl");
                    tttVarTableUl.innerHTML = resultHtml;



                    // 고철종류
                    steel_dic_list = chahgeFinalDictList(response.steel_var_list);

                    var steelVarData = {
                        steel_dic_list: steel_dic_list,
                    }

                    var steelVarTableTemplate = document.querySelector("#steelVarTableTemplate").innerHTML;
                    var steelVarTableBindTemplate = Handlebars.compile(steelVarTableTemplate);

                    var resultHtml = '';
                    resultHtml += steelVarTableBindTemplate(steelVarData);
                    var steelVarTableUl = document.querySelector("#steelVarTableUl");
                    steelVarTableUl.innerHTML = resultHtml;




                    // 부원료
                    mat_dic_list = chahgeFinalDictList(response.mat_var_list);

                    var matVarData = {
                        mat_dic_list: mat_dic_list,
                    }

                    var matVarTableTemplate = document.querySelector("#matVarTableTemplate").innerHTML;
                    var matVarTableBindTemplate = Handlebars.compile(matVarTableTemplate);

                    var resultHtml = '';
                    resultHtml += matVarTableBindTemplate(matVarData);
                    var matVarTableUl = document.querySelector("#matVarTableUl");
                    matVarTableUl.innerHTML = resultHtml;


                    // 설비
                    equip_dic_list = chahgeFinalDictList(response.equip_var_list);

                    var equipVarData = {
                        equip_dic_list: equip_dic_list,
                    }

                    var equipVarTableTemplate = document.querySelector("#equipVarTableTemplate").innerHTML;
                    var equipVarTableBindTemplate = Handlebars.compile(equipVarTableTemplate);

                    var resultHtml = '';
                    resultHtml += equipVarTableBindTemplate(equipVarData);
                    var equipVarTableUl = document.querySelector("#equipVarTableUl");
                    equipVarTableUl.innerHTML = resultHtml;

                    // 기타
                    etc_dic_list = chahgeFinalDictList(response.etc_var_list);

                    var etcVarData = {
                        etc_dic_list: etc_dic_list,
                    }

                    var etcVarTableTemplate = document.querySelector("#etcVarTableTemplate").innerHTML;
                    var etcVarTableBindTemplate = Handlebars.compile(etcVarTableTemplate);

                    var resultHtml = '';
                    resultHtml += etcVarTableBindTemplate(etcVarData);
                    var etcVarTableUl = document.querySelector("#etcVarTableUl");
                    etcVarTableUl.innerHTML = resultHtml;


                closePreload();
                }
        });




    }


    function makeModel() {
      var var_name = $("input[name='modelVar']:checked").val();
      checkNum = $("input:checkbox[name=modelVar]").length
      checkedNum =   $("input:checkbox[name=modelVar]:checked").length
      var checkedVarList = [];
      $("input[name = modelVar]:checked").each(function () {
          var chk = $(this).val()
          checkedVarList.push(chk);

      })

      parameterList = {
          checkedVarList : checkedVarList,
          csrfmiddlewaretoken: '{{ csrf_token }}'
      }
      openPreload();

      $.ajax({

                type: "post",
                async: true,
                url: "{% url 'make_model' %}",
                dataType: "json",
                data: parameterList,
                success: function (response) {


                }
      });
      closePreload();
    }


    function goSingleAnalytics(var_name) {
        openPreload();
        $.ajax({
                type: "GET",
                url: "{% url 'analytic_single_var' %}",
                dataType: "json",
                data: {
                    'var_name': var_name,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (response) {

                    //alert(response.data_list)
                    console.log(response)
                    KTApexChartsDemo.init(response.data_list,response.result_list);
                    //$('#berthDataListDiv').html(response);

                    // 로딩바 끝
                    closePreload();
                    //location.reload();
                    $('#row').load(location.href+'#row');

                    title_01 = response.title_list[0][0] + '-' + response.title_list[0][1] + '(상관계수 : '+response.title_list[0][2] + ')'
                    title_02 = response.title_list[1][0] + '-' + response.title_list[1][1] + '(상관계수 : '+response.title_list[1][2] + ')'
                    title_03 = response.title_list[2][0] + '-' + response.title_list[2][1] + '(상관계수 : '+response.title_list[2][2] + ')'
                    title_04 = response.title_list[3][0] + '-' + response.title_list[3][1] + '(상관계수 : '+response.title_list[3][2] + ')'

                    $('#card-label_01').text(title_01);
                    $('#card-label_02').text(title_02);
                    $('#card-label_03').text(title_03);
                    $('#card-label_04').text(title_04);



                    $("#img_01").attr("src", response.img_list[0]);
                    $("#img_02").attr("src", response.img_list[1]);
                    $("#img_03").attr("src", response.img_list[2]);
                    $("#img_04").attr("src", response.img_list[3]);



                },
                error: function (request, status, error) {
                    // 로딩바 끝
                    closePreload();

                    alert(error);
                }
            });
    }

</script>





{% endblock %}