{% extends 'layouts/navbar/navbar.html' %}
{% load static %}
{% load humanize %}

{% block content %}
		<!--begin::Page Custom Styles(used by this page)-->
		<link href="{% static 'assets/plugins/custom/kanban/kanban.bundle.css' %}" rel="stylesheet" type="text/css" />
		<!--end::Page Custom Styles-->


        <!--begin::Content-->
        <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
            <!--begin::Subheader-->
            <div class="subheader py-6 py-lg-8 subheader-transparent" id="kt_subheader">
                <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                    <!--begin::Info-->
                    <div class="d-flex align-items-center flex-wrap mr-1">
                        <!--begin::Page Heading-->
                        <div class="d-flex align-items-baseline flex-wrap mr-5">
                            <!--begin::Page Title-->
                            <h5 class="text-dark font-weight-bold my-1 mr-5">주요데이터분석</h5>
                            <!--end::Page Title-->
                            <!--begin::Breadcrumb-->
                            <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                                <li class="breadcrumb-item text-muted">
                                    <a href="" class="text-muted">출강량</a>
                                </li>

                            </ul>
                            <!--end::Breadcrumb-->
                        </div>
                        <!--end::Page Heading-->
                    </div>
                    <!--end::Info-->

                </div>
            </div>
            <!--end::Subheader-->
            <!--begin::Entry-->
            <div class="d-flex flex-column-fluid">
                <!--begin::Container-->
                <div class="container">


                    <!--begin::Card-->
                    <div class="card card-custom gutter-b">
                        <div class="card-header">
                            <div class="card-title">
                                <h3 class="card-label">변수설정</h3>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="kt_kanban_2"></div>
                        </div>
                    </div>
                    <!--end::Card-->

                </div>
                <!--end::Container-->
            </div>
            <!--end::Entry-->
        </div>
        <!--end::Content-->
        <!--begin::Page Scripts(used by this page)-->

		<script src="{% static 'assets/plugins/custom/kanban/kanban.bundle.js' %}"></script>
{#		<script src="{% static 'assets/js/pages/features/miscellaneous/kanban-board.js' %}"></script>#}
		<!--end::Page Scripts-->




<script type="text/javascript">
// Class definition

var KTKanbanBoardDemo = function() {

    // Private functions
    var _demo1 = function() {
        var kanban = new jKanban({
            element: '#kt_kanban_1',
            gutter: '0',
            widthBoard: '250px',
            boards: [{
                    'id': '_inprocess',
                    'title': 'In Process',
                    'item': [{
                            'title': '<span class="font-weight-bold">You can drag me too</span>'
                        },
                        {
                            'title': '<span class="font-weight-bold">Buy Milk</span>'
                        }
                    ]
                }, {
                    'id': '_working',
                    'title': 'Working',
                    'item': [{
                            'title': '<span class="font-weight-bold">Do Something!</span>'
                        },
                        {
                            'title': '<span class="font-weight-bold">Run?</span>'
                        }
                    ]
                }, {
                    'id': '_done',
                    'title': 'Done',
                    'item': [{
                            'title': '<span class="font-weight-bold">All right</span>'
                        },
                        {
                            'title': '<span class="font-weight-bold">Ok!</span>'
                        }
                    ]
                }
            ]
        });
    }

    var _demo2 = function() {
        var kanban = new jKanban({
            element: '#kt_kanban_2',
            gutter: '0',
            widthBoard: '250px',
            boards: [{
                    'id': '_inprocess',
                    'title': '전체변수',
                    'class': 'primary',
                    'item': [{
                            'title': '<span class="font-weight-bold">장입시간</span>',
                            'class': 'light-primary',
                        },
                        {
                            'title': '<span class="font-weight-bold">용해초장시간</span>',
                            'class': 'light-primary',
                        },
                        {
                            'title': '<span class="font-weight-bold">용해추가시간</span>',
                            'class': 'light-primary',
                        }
                        ,
                        {
                            'title': '<span class="font-weight-bold">정련시간</span>',
                            'class': 'light-primary',
                        }
                        ,
                        {
                            'title': '<span class="font-weight-bold">출강시간</span>',
                            'class': 'light-primary',
                        }
                        ,
                        {
                            'title': '<span class="font-weight-bold">합계시간</span>',
                            'class': 'light-primary',
                        }
                        ,
                        {
                            'title': '<span class="font-weight-bold">중량A</span>',
                            'class': 'light-primary',
                        }
                        ,
                        {
                            'title': '<span class="font-weight-bold">중량B</span>',
                            'class': 'light-primary',
                        }
                        ,
                        {
                            'title': '<span class="font-weight-bold">경량A</span>',
                            'class': 'light-primary',
                        }
                        ,
                        {
                            'title': '<span class="font-weight-bold">경량B</span>',
                            'class': 'light-primary',
                        }
                        ,
                        {
                            'title': '<span class="font-weight-bold">경량B</span>',
                            'class': 'light-primary',
                        }
                        ,
                        {
                            'title': '<span class="font-weight-bold">GSA</span>',
                            'class': 'light-primary',
                        }
                        ,
                        {
                            'title': '<span class="font-weight-bold">GSB</span>',
                            'class': 'light-primary',
                        }
                        ,
                        {
                            'title': '<span class="font-weight-bold">MB</span>',
                            'class': 'light-primary',
                        }
                        ,
                        {
                            'title': '<span class="font-weight-bold">선반설B</span>',
                            'class': 'light-primary',
                        }
                        ,
                        {
                            'title': '<span class="font-weight-bold">고철사용량</span>',
                            'class': 'light-primary',
                        }
                        ,
                        {
                            'title': '<span class="font-weight-bold">고철평균톤수</span>',
                            'class': 'light-primary',
                        }
                        ,
                        {
                            'title': '<span class="font-weight-bold">가사비중</span>',
                            'class': 'light-primary',
                        }
                        ,
                        {
                            'title': '<span class="font-weight-bold">역률</span>',
                            'class': 'light-primary',
                        }
                        ,
                        {
                            'title': '<span class="font-weight-bold">전기로22KV</span>',
                            'class': 'light-primary',
                        }
                        ,
                        {
                            'title': '<span class="font-weight-bold">용해초장전력량</span>',
                            'class': 'light-primary',
                        }
                        ,
                        {
                            'title': '<span class="font-weight-bold">용해완료전력량</span>',
                            'class': 'light-primary',
                        }
                        ,
                        {
                            'title': '<span class="font-weight-bold">정련전력량</span>',
                            'class': 'light-primary',
                        },
                        {
                            'title': '<span class="font-weight-bold">합계전력량</span>',
                            'class': 'light-primary',
                        },
                        {
                            'title': '<span class="font-weight-bold">용해전력투입속도</span>',
                            'class': 'light-primary',
                        }
                        ,
                        {
                            'title': '<span class="font-weight-bold">용락카본C</span>',
                            'class': 'light-primary',
                        }
                        ,
                        {
                            'title': '<span class="font-weight-bold">조개탄HP</span>',
                            'class': 'light-primary',
                        }
                        ,
                        {
                            'title': '<span class="font-weight-bold">BRI_HP2</span>',
                            'class': 'light-primary',
                        }
                        ,
                        {
                            'title': '<span class="font-weight-bold">전리로P</span>',
                            'class': 'light-primary',
                        }
                        ,
                        {
                            'title': '<span class="font-weight-bold">전기로S</span>',
                            'class': 'light-primary',
                        }
                        ,
                        {
                            'title': '<span class="font-weight-bold">전기로전압</span>',
                            'class': 'light-primary',
                        }
                        ,
                        {
                            'title': '<span class="font-weight-bold">전기로전류</span>',
                            'class': 'light-primary',
                        }
                        ,
                        {
                            'title': '<span class="font-weight-bold">분탄GSK</span>',
                            'class': 'light-primary',
                        }
                        ,
                        {
                            'title': '<span class="font-weight-bold">분탄STAIN</span>',
                            'class': 'light-primary',
                        }
                        ,
                        {
                            'title': '<span class="font-weight-bold">산소버너</span>',
                            'class': 'light-primary',
                        }
                        ,
                        {
                            'title': '<span class="font-weight-bold">산소렌스</span>',
                            'class': 'light-primary',
                        }
                        ,
                        {
                            'title': '<span class="font-weight-bold">렌스유량</span>',
                            'class': 'light-primary',
                        }
,
                        {
                            'title': '<span class="font-weight-bold">렌스높이</span>',
                            'class': 'light-primary',
                        }
                        ,
                        {
                            'title': '<span class="font-weight-bold">렌스폭</span>',
                            'class': 'light-primary',
                        }
                        ,
                        {
                            'title': '<span class="font-weight-bold">렌스틸팅면적</span>',
                            'class': 'light-primary',
                        }
                        ,
                        {
                            'title': '<span class="font-weight-bold">집진기풍량</span>',
                            'class': 'light-primary',
                        }
                        ,
                        {
                            'title': '<span class="font-weight-bold">집진기건옥온도</span>',
                            'class': 'light-primary',
                        }
                        ,
                        {
                            'title': '<span class="font-weight-bold">집진기직인온도</span>',
                            'class': 'light-primary',
                        }
                        ,
                        {
                            'title': '<span class="font-weight-bold">마스터위치</span>',
                            'class': 'light-primary',
                        }
                        ,
                        {
                            'title': '<span class="font-weight-bold">마스터이동거리</span>',
                            'class': 'light-primary',
                        }
                        ,
                        {
                            'title': '<span class="font-weight-bold">용해전력1</span>',
                            'class': 'light-primary',
                        }
                        ,
                        {
                            'title': '<span class="font-weight-bold">용해전력2</span>',
                            'class': 'light-primary',
                        }
                        ,
                        {
                            'title': '<span class="font-weight-bold">용해전력3</span>',
                            'class': 'light-primary',
                        }
                        ,
                        {
                            'title': '<span class="font-weight-bold">전력투입효율</span>',
                            'class': 'light-primary',
                        }
                        ,
                        {
                            'title': '<span class="font-weight-bold">출강량</span>',
                            'class': 'light-primary',
                        },
                        {
                            'title': '<span class="font-weight-bold">생산량</span>',
                            'class': 'light-primary',
                        }
                        ,
                        {
                            'title': '<span class="font-weight-bold">회수율</span>',
                            'class': 'light-primary',
                        },
                        {
                            'title': '<span class="font-weight-bold">생산성</span>',
                            'class': 'light-primary',
                        }

                    ]
                }, {
                    'id': '_working',
                    'title': '선택변수',
                    'class': 'success',
                    'item': [
                    ]
                }, {
                    'id': '_done',
                    'title': '출력변수',
                    'class': 'danger',
                    'item': [{
                            'title': '<span class="font-weight-bold">출강량</span>',
                            'class': 'light-danger',
                        }
                    ]
                }
            ]
        });
    }


    var _demo3 = function() {
        var kanban = new jKanban({
            element: '#kt_kanban_3',
            gutter: '0',
            widthBoard: '250px',
            click: function(el) {
                alert(el.innerHTML);
            },
            boards: [{
                    'id': '_todo',
                    'title': 'To Do',
                    'class': 'light-primary',
                    'dragTo': ['_working'],
                    'item': [{
                            'title': 'My Task Test',
                            'class': 'primary'
                        },
                        {
                            'title': 'Buy Milk',
                            'class': 'primary'
                        }
                    ]
                },
                {
                    'id': '_working',
                    'title': 'Working',
                    'class': 'light-warning',
                    'item': [{
                            'title': 'Do Something!',
                            'class': 'warning'
                        },
                        {
                            'title': 'Run?',
                            'class': 'warning'
                        }
                    ]
                },
                {
                    'id': '_done',
                    'title': 'Done',
                    'class': 'light-success',
                    'dragTo': ['_working'],
                    'item': [{
                            'title': 'All right',
                            'class': 'success'
                        },
                        {
                            'title': 'Ok!',
                            'class': 'success'
                        }
                    ]
                },
                {
                    'id': '_notes',
                    'title': 'Notes',
                    'class': 'light-danger',
                    'item': [{
                            'title': 'Warning Task',
                            'class': 'danger'
                        },
                        {
                            'title': 'Do not enter',
                            'class': 'danger'
                        }
                    ]
                }
            ]
        });
    }

    var _demo4 = function() {
        var kanban = new jKanban({
            element: '#kt_kanban_4',
            gutter: '0',
            click: function(el) {
                alert(el.innerHTML);
            },
            boards: [{
                    'id': '_backlog',
                    'title': 'Backlog',
                    'class': 'light-dark',
                    'item': [{
                            'title': `
                                <div class="d-flex align-items-center">
                        	        <div class="symbol symbol-success mr-3">
                        	            <img alt="Pic" src="assets/media/users/150-6.jpg" />
                        	        </div>
                        	        <div class="d-flex flex-column align-items-start">
                        	            <span class="text-dark-50 font-weight-bold mb-1">SEO Optimization</span>
                        	            <span class="label label-inline label-light-success font-weight-bold">In progress</span>
                        	        </div>
                        	    </div>
                            `,
                        },
                        {
                            'title': `
                                <div class="d-flex align-items-center">
                        	        <div class="symbol symbol-success mr-3">
                        	            <span class="symbol-label font-size-h4">A.D</span>
                        	        </div>
                        	        <div class="d-flex flex-column align-items-start">
                        	            <span class="text-dark-50 font-weight-bold mb-1">Finance</span>
                        	            <span class="label label-inline label-light-danger font-weight-bold">Pending</span>
                        	        </div>
                        	    </div>
                            `,
                        }
                    ]
                },
                {
                    'id': '_todo',
                    'title': 'To Do',
                    'class': 'light-danger',
                    'item': [{
                            'title': `
                                <div class="d-flex align-items-center">
                        	        <div class="symbol symbol-success mr-3">
                        	            <img alt="Pic" src="assets/media/users/150-11.jpg" />
                        	        </div>
                        	        <div class="d-flex flex-column align-items-start">
                        	            <span class="text-dark-50 font-weight-bold mb-1">Server Setup</span>
                        	            <span class="label label-inline label-light-dark font-weight-bold">Completed</span>
                        	        </div>
                        	    </div>
                            `,
                        },
                        {
                            'title': `
                                <div class="d-flex align-items-center">
                        	        <div class="symbol symbol-success mr-3">
                        	            <img alt="Pic" src="assets/media/users/150-14.jpg" />
                        	        </div>
                        	        <div class="d-flex flex-column align-items-start">
                        	            <span class="text-dark-50 font-weight-bold mb-1">Report Generation</span>
                        	            <span class="label label-inline label-light-warning font-weight-bold">Due</span>
                        	        </div>
                        	    </div>
                            `,
                        }
                    ]
                },
                {
                    'id': '_working',
                    'title': 'Working',
                    'class': 'light-primary',
                    'item': [{
                            'title': `
                                <div class="d-flex align-items-center">
                        	        <div class="symbol symbol-success mr-3">
                            	         <img alt="Pic" src="assets/media/users/150-6.jpg" />
                        	        </div>
                        	        <div class="d-flex flex-column align-items-start">
                        	            <span class="text-dark-50 font-weight-bold mb-1">Marketing</span>
                        	            <span class="label label-inline label-light-danger font-weight-bold">Planning</span>
                        	        </div>
                        	    </div>
                            `,
                        },
                        {
                            'title': `
                                <div class="d-flex align-items-center">
                        	        <div class="symbol symbol-light-info mr-3">
                        	            <span class="symbol-label font-size-h4">A.P</span>
                        	        </div>
                        	        <div class="d-flex flex-column align-items-start">
                        	            <span class="text-dark-50 font-weight-bold mb-1">Finance</span>
                        	            <span class="label label-inline label-light-primary font-weight-bold">Done</span>
                        	        </div>
                        	    </div>
                            `,
                        }
                    ]
                },
                {
                    'id': '_done',
                    'title': 'Done',
                    'class': 'light-success',
                    'item': [{
                            'title': `
                                <div class="d-flex align-items-center">
                        	        <div class="symbol symbol-success mr-3">
                        	            <img alt="Pic" src="assets/media/users/150-3.jpg" />
                        	        </div>
                        	        <div class="d-flex flex-column align-items-start">
                        	            <span class="text-dark-50 font-weight-bold mb-1">SEO Optimization</span>
                        	            <span class="label label-inline label-light-success font-weight-bold">In progress</span>
                        	        </div>
                        	    </div>
                            `,
                        },
                        {
                            'title': `
                                <div class="d-flex align-items-center">
                        	        <div class="symbol symbol-success mr-3">
                        	            <img alt="Pic" src="{% static 'assets/media/users/150-2.jpg' %}" />
                        	        </div>
                        	        <div class="d-flex flex-column align-items-start">
                        	            <span class="text-dark-50 font-weight-bold mb-1">Product Team</span>
                        	            <span class="label label-inline label-light-danger font-weight-bold">In progress</span>
                        	        </div>
                        	    </div>
                            `,
                        }
                    ]
                },
                {
                    'id': '_deploy',
                    'title': 'Deploy',
                    'class': 'light-primary',
                    'item': [{
                            'title': `
                                <div class="d-flex align-items-center">
                        	        <div class="symbol symbol-light-warning mr-3">
                        	            <span class="symbol-label font-size-h4">D.L</span>
                        	        </div>
                        	        <div class="d-flex flex-column align-items-start">
                        	            <span class="text-dark-50 font-weight-bold mb-1">SEO Optimization</span>
                        	            <span class="label label-inline label-light-success font-weight-bold">In progress</span>
                        	        </div>
                        	    </div>
                            `,
                        },
                        {
                            'title': `
                                <div class="d-flex align-items-center">
                        	        <div class="symbol symbol-light-danger mr-3">
                        	            <span class="symbol-label font-size-h4">E.K</span>
                        	        </div>
                        	        <div class="d-flex flex-column align-items-start">
                        	            <span class="text-dark-50 font-weight-bold mb-1">Requirement Study</span>
                        	            <span class="label label-inline label-light-warning font-weight-bold">Scheduled</span>
                        	        </div>
                        	    </div>
                            `,
                        }
                    ]
                }
            ]
        });

        var toDoButton = document.getElementById('addToDo');
        toDoButton.addEventListener('click', function() {
            kanban.addElement(
                '_todo', {
                    'title': `
                        <div class="d-flex align-items-center">
                            <div class="symbol symbol-light-primary mr-3">
                                <img alt="Pic" src="assets/media/users/150-15.jpg" />
                            </div>
                            <div class="d-flex flex-column align-items-start">
                                <span class="text-dark-50 font-weight-bold mb-1">Requirement Study</span>
                                <span class="label label-inline label-light-success font-weight-bold">Scheduled</span>
                            </div>
                        </div>
                    `
                }
            );
        });

        var addBoardDefault = document.getElementById('addDefault');
        addBoardDefault.addEventListener('click', function() {
            kanban.addBoards(
                [{
                    'id': '_default',
                    'title': 'New Board',
                    'class': 'primary-light',
                    'item': [{
                            'title': `
                                <div class="d-flex align-items-center">
                                    <div class="symbol symbol-success mr-3">
                                        <img alt="Pic" src="assets/media/users/150-1.jpg" />
                                    </div>
                                    <div class="d-flex flex-column align-items-start">
                                        <span class="text-dark-50 font-weight-bold mb-1">Payment Modules</span>
                                        <span class="label label-inline label-light-primary font-weight-bold">In development</span>
                                    </div>
                                </div>
                        `},{
                            'title': `
                                <div class="d-flex align-items-center">
                                    <div class="symbol symbol-success mr-3">
                                        <img alt="Pic" src="{% static 'assets/media/users/150-2.jpg' %}" />
                                    </div>
                                    <div class="d-flex flex-column align-items-start">
                                    <span class="text-dark-50 font-weight-bold mb-1">New Project</span>
                                    <span class="label label-inline label-light-danger font-weight-bold">Pending</span>
                                </div>
                            </div>
                        `}
                    ]
                }]
            )
        });

        var removeBoard = document.getElementById('removeBoard');
        removeBoard.addEventListener('click', function() {
            kanban.removeBoard('_done');
        });
    }

    // Public functions
    return {
        init: function() {

            _demo1();
            _demo2();
            _demo3();
            _demo4();
        }
    };
}();


$(document).ready(function() {

    KTKanbanBoardDemo.init();
});

</script>



{% endblock %}


