{% extends 'layouts/navbar/navbar.html' %}
{% load humanize %}
{% load static %}
{% block content %}



<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
<!--begin::Subheader-->
    <div class="subheader py-6 py-lg-8 subheader-transparent" id="kt_subheader">
        <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1">
                <!--begin::Page Heading-->
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <!--begin::Page Title-->
                    <h1 class="text-dark font-weight-bold my-1 mr-5">대쉬보드</h1>
                    <!--end::Page Title-->
                </div>
                <!--end::Page Heading-->
            </div>
            <!--end::Info-->

        </div>
    </div>
    <!--end::Subheader-->

    <div class="d-flex flex-column-fluid">
        <div class="container">
          <div class="col-xl-6">
               <div class="card card-custom">
                   <div class="card-header">
                        <div class="card-title">
                           <h3 class="card-label">출강량월별추이</h3>
                        </div>
                   </div>
                <div class="row mt-5">
                   <div class="col-12">
                <!-- HTML -->
                        <div id="steel_out_vol_chart_div"></div>
                   </div>

                </div>
            </div>
          </div>
       </div>
    </div>


    <div class="d-flex flex-column-fluid">
        <div class="container">
          <div class="col-xl-6">
               <div class="card card-custom">
                   <div class="card-header">
                        <div class="card-title">
                           <h3 class="card-label">회수율월별추이</h3>
                        </div>
                   </div>
                <div class="row mt-5">
                   <div class="col-12">
                <!-- HTML -->
                        <div id="steel_out_rate_chart_div"></div>
                   </div>

                </div>
            </div>
          </div>
       </div>
    </div>

    <div class="d-flex flex-column-fluid">
        <div class="container">
          <div class="col-xl-6">
               <div class="card card-custom">
                   <div class="card-header">
                        <div class="card-title">
                           <h3 class="card-label">전력량월별추이</h3>
                        </div>
                   </div>
                <div class="row mt-5">
                   <div class="col-12">
                <!-- HTML -->
                        <div id="total_elec_charge_chart_div"></div>
                   </div>

                </div>
            </div>
          </div>
       </div>
    </div>
    <div class="d-flex flex-column-fluid">
        <div class="container">
          <div class="col-xl-6">
               <div class="card card-custom">
                   <div class="card-header">
                        <div class="card-title">
                           <h3 class="card-label">역률월별추이</h3>
                        </div>
                   </div>
                <div class="row mt-5">
                   <div class="col-12">
                <!-- HTML -->
                        <div id="power_factor_chart_div"></div>
                   </div>

                </div>
            </div>
          </div>
       </div>
    </div>
</div>


<style>

#steel_out_vol_chart_div {
  width: 100%;
  height: 300px;
}

#steel_out_rate_chart_div {
  width: 100%;
  height: 300px;
}

#total_elec_charge_chart_div {
  width: 100%;
  height: 300px;
}
#power_factor_chart_div {
  width: 100%;
  height: 300px;
}

</style>

<!-- Resources -->


<script src="{% static 'assets/js/pages/features/charts/amcharts/core.js' %}"></script>
<script src="{% static 'assets/js/pages/features/charts/amcharts/charts_report.js' %}"></script>
<script src="{% static 'assets/js/pages/features/charts/amcharts/animated.js' %}"></script>



<!-- 출강량 Chart code -->
<script>
am4core.ready(function() {
    day_steel_out_vol_dict_list = {{day_steel_out_vol_dict_list | safe}}
    month_steel_out_vol_dict_list = {{month_steel_out_vol_dict_list | safe }}

    var daySteelOutVolList = changeDataList(day_steel_out_vol_dict_list)
    var monthSteelOutVolList = changeDataList(month_steel_out_vol_dict_list)



    // Themes begin
    am4core.useTheme(am4themes_animated);
    // Themes end

    // Create chart instance
    var steelOutChart = am4core.create("steel_out_vol_chart_div", am4charts.XYChart);

    // Create daily series and related axes
    var dateAxis1 = steelOutChart.xAxes.push(new am4charts.DateAxis());
    dateAxis1.renderer.grid.template.location = 0;
    dateAxis1.renderer.minGridDistance = 40;

    var valueAxis1 = steelOutChart.yAxes.push(new am4charts.ValueAxis());

    var series1 = steelOutChart.series.push(new am4charts.ColumnSeries());
    series1.dataFields.valueY = "value";
    series1.dataFields.dateX = "date";
    series1.data = monthSteelOutVolList;
    series1.xAxis = dateAxis1;
    series1.yAxis = valueAxis1;
    series1.tooltipText = "{dateX}: [bold]{valueY}[/]";

    // Create hourly series and related axes
    var dateAxis2 = steelOutChart.xAxes.push(new am4charts.DateAxis());
    dateAxis2.renderer.grid.template.location = 0;
    dateAxis2.renderer.minGridDistance = 40;
    dateAxis2.renderer.labels.template.disabled = true;
    dateAxis2.renderer.grid.template.disabled = true;
    dateAxis2.renderer.tooltip.disabled = true;

    var valueAxis2 = steelOutChart.yAxes.push(new am4charts.ValueAxis());
    valueAxis2.renderer.opposite = true;
    valueAxis2.renderer.grid.template.disabled = true;
    valueAxis2.renderer.labels.template.disabled = true;
    valueAxis2.renderer.tooltip.disabled = true;

    var series2 = steelOutChart.series.push(new am4charts.LineSeries());
    series2.dataFields.valueY = "value";
    series2.dataFields.dateX = "date";
    series2.data = daySteelOutVolList;
    series2.xAxis = dateAxis2;
    series2.yAxis = valueAxis2;
    series2.strokeWidth = 3;
    series2.tooltipText = "{dateX.formatDate('yyyy-MM-dd hh:00')}: [bold]{valueY}[/]";

    // Add cursor
    steelOutChart.cursor = new am4charts.XYCursor();

}); // end am4core.ready()
</script>


<!-- 회수율 Chart code -->
<script>
am4core.ready(function() {
    day_steel_out_rate_dict_list = {{day_steel_out_rate_dict_list | safe}}
    month_steel_out_rate_dict_list = {{month_steel_out_rate_dict_list | safe }}

    var daySteelOutRateList = changeDataList(day_steel_out_rate_dict_list)
    var monthSteelOutRateList = changeDataList(month_steel_out_rate_dict_list)



    // Themes begin
    am4core.useTheme(am4themes_animated);
    // Themes end

    // Create chart instance
    var steelOutRateChart = am4core.create("steel_out_rate_chart_div", am4charts.XYChart);

    // Create daily series and related axes
    var dateAxis1 = steelOutRateChart.xAxes.push(new am4charts.DateAxis());
    dateAxis1.renderer.grid.template.location = 0;
    dateAxis1.renderer.minGridDistance = 40;

    var valueAxis1 = steelOutRateChart.yAxes.push(new am4charts.ValueAxis());

    var series1 = steelOutRateChart.series.push(new am4charts.ColumnSeries());
    series1.dataFields.valueY = "value";
    series1.dataFields.dateX = "date";
    series1.data = monthSteelOutRateList;
    series1.xAxis = dateAxis1;
    series1.yAxis = valueAxis1;
    series1.tooltipText = "{dateX}: [bold]{valueY}[/]";

    // Create hourly series and related axes
    var dateAxis2 = steelOutRateChart.xAxes.push(new am4charts.DateAxis());
    dateAxis2.renderer.grid.template.location = 0;
    dateAxis2.renderer.minGridDistance = 40;
    dateAxis2.renderer.labels.template.disabled = true;
    dateAxis2.renderer.grid.template.disabled = true;
    dateAxis2.renderer.tooltip.disabled = true;

    var valueAxis2 = steelOutRateChart.yAxes.push(new am4charts.ValueAxis());
    valueAxis2.renderer.opposite = true;
    valueAxis2.renderer.grid.template.disabled = true;
    valueAxis2.renderer.labels.template.disabled = true;
    valueAxis2.renderer.tooltip.disabled = true;

    var series2 = steelOutRateChart.series.push(new am4charts.LineSeries());
    series2.dataFields.valueY = "value";
    series2.dataFields.dateX = "date";
    series2.data = daySteelOutRateList;
    series2.xAxis = dateAxis2;
    series2.yAxis = valueAxis2;
    series2.strokeWidth = 3;
    series2.tooltipText = "{dateX.formatDate('yyyy-MM-dd hh:00')}: [bold]{valueY}[/]";

    // Add cursor
    steelOutRateChart.cursor = new am4charts.XYCursor();

}); // end am4core.ready()
</script>


<!-- 전력량 Chart code -->
<script>
am4core.ready(function() {
    day_total_elec_charge_dict_list = {{day_total_elec_charge_dict_list | safe}}
    month_total_elec_charge_dict_list = {{month_total_elec_charge_dict_list | safe }}

    var dayTotalElecChargeList = changeDataList(day_total_elec_charge_dict_list)
    var monthTotalElecChargeList = changeDataList(month_total_elec_charge_dict_list)



    // Themes begin
    am4core.useTheme(am4themes_animated);
    // Themes end

    // Create chart instance
    var totalElecChargeChart = am4core.create("total_elec_charge_chart_div", am4charts.XYChart);

    // Create daily series and related axes
    var dateAxis1 = totalElecChargeChart.xAxes.push(new am4charts.DateAxis());
    dateAxis1.renderer.grid.template.location = 0;
    dateAxis1.renderer.minGridDistance = 40;

    var valueAxis1 = totalElecChargeChart.yAxes.push(new am4charts.ValueAxis());

    var series1 = totalElecChargeChart.series.push(new am4charts.ColumnSeries());
    series1.dataFields.valueY = "value";
    series1.dataFields.dateX = "date";
    series1.data = monthTotalElecChargeList;
    series1.xAxis = dateAxis1;
    series1.yAxis = valueAxis1;
    series1.tooltipText = "{dateX}: [bold]{valueY}[/]";

    // Create hourly series and related axes
    var dateAxis2 = totalElecChargeChart.xAxes.push(new am4charts.DateAxis());
    dateAxis2.renderer.grid.template.location = 0;
    dateAxis2.renderer.minGridDistance = 40;
    dateAxis2.renderer.labels.template.disabled = true;
    dateAxis2.renderer.grid.template.disabled = true;
    dateAxis2.renderer.tooltip.disabled = true;

    var valueAxis2 = totalElecChargeChart.yAxes.push(new am4charts.ValueAxis());
    valueAxis2.renderer.opposite = true;
    valueAxis2.renderer.grid.template.disabled = true;
    valueAxis2.renderer.labels.template.disabled = true;
    valueAxis2.renderer.tooltip.disabled = true;

    var series2 = totalElecChargeChart.series.push(new am4charts.LineSeries());
    series2.dataFields.valueY = "value";
    series2.dataFields.dateX = "date";
    series2.data = dayTotalElecChargeList;
    series2.xAxis = dateAxis2;
    series2.yAxis = valueAxis2;
    series2.strokeWidth = 3;
    series2.tooltipText = "{dateX.formatDate('yyyy-MM-dd hh:00')}: [bold]{valueY}[/]";

    // Add cursor
    totalElecChargeChart.cursor = new am4charts.XYCursor();

}); // end am4core.ready()
</script>

    <!-- 역률 Chart code -->
<script>
am4core.ready(function() {
    day_power_factor_dict_list = {{day_power_factor_dict_list | safe}}
    month_power_factor_dict_list = {{month_power_factor_dict_list | safe }}

    var dayPowerFactorList = changeDataList(day_power_factor_dict_list)
    var monthPowerFactorList = changeDataList(month_power_factor_dict_list)



    // Themes begin
    am4core.useTheme(am4themes_animated);
    // Themes end

    // Create chart instance
    var powerFactorChart = am4core.create("power_factor_chart_div", am4charts.XYChart);

    // Create daily series and related axes
    var dateAxis1 = powerFactorChart.xAxes.push(new am4charts.DateAxis());
    dateAxis1.renderer.grid.template.location = 0;
    dateAxis1.renderer.minGridDistance = 40;

    var valueAxis1 = powerFactorChart.yAxes.push(new am4charts.ValueAxis());

    var series1 = powerFactorChart.series.push(new am4charts.ColumnSeries());
    series1.dataFields.valueY = "value";
    series1.dataFields.dateX = "date";
    series1.data = monthPowerFactorList;
    series1.xAxis = dateAxis1;
    series1.yAxis = valueAxis1;
    series1.tooltipText = "{dateX}: [bold]{valueY}[/]";

    // Create hourly series and related axes
    var dateAxis2 = powerFactorChart.xAxes.push(new am4charts.DateAxis());
    dateAxis2.renderer.grid.template.location = 0;
    dateAxis2.renderer.minGridDistance = 40;
    dateAxis2.renderer.labels.template.disabled = true;
    dateAxis2.renderer.grid.template.disabled = true;
    dateAxis2.renderer.tooltip.disabled = true;

    var valueAxis2 = powerFactorChart.yAxes.push(new am4charts.ValueAxis());
    valueAxis2.renderer.opposite = true;
    valueAxis2.renderer.grid.template.disabled = true;
    valueAxis2.renderer.labels.template.disabled = true;
    valueAxis2.renderer.tooltip.disabled = true;

    var series2 = powerFactorChart.series.push(new am4charts.LineSeries());
    series2.dataFields.valueY = "value";
    series2.dataFields.dateX = "date";
    series2.data = dayPowerFactorList;
    series2.xAxis = dateAxis2;
    series2.yAxis = valueAxis2;
    series2.strokeWidth = 3;
    series2.tooltipText = "{dateX.formatDate('yyyy-MM-dd hh:00')}: [bold]{valueY}[/]";

    // Add cursor
    powerFactorChart.cursor = new am4charts.XYCursor();

}); // end am4core.ready()
</script>

<script>
function changeDataList(data_dict_list) {

    var data = [];

    for(var i = 0; i < data_dict_list.length; i++) {
        date = data_dict_list[i][0];
        value = data_dict_list[i][1];
        data.push({
           date: date,
           value: value
        })
    }
    return data;
}
</script>



{% endblock %}
