<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="kanban-container" style="width: 750px;">
    <div data-id="_inprocess" data-order="1" class="kanban-board" style="width: 250px; margin-left: 0px; margin-right: 0px;">
        <header class="kanban-board-header primary"><div class="kanban-title-board">전체변수</div></header>
        <main class="kanban-drag">
            <div class="kanban-item" data-class="light-primary"><span class="font-weight-bold">장입시간</span></div>
            <div class="kanban-item" data-class="light-primary"><span class="font-weight-bold">용해초장시간</span></div>
            <div class="kanban-item" data-class="light-primary"><span class="font-weight-bold">용해추가시간</span></div>
        </main>
        <footer></footer>
    </div>
    <div data-id="_working" data-order="2" class="kanban-board" style="width: 250px; margin-left: 0px; margin-right: 0px;">
        <header class="kanban-board-header success"><div class="kanban-title-board">선택변수</div></header>
        <main class="kanban-drag"></main>
        <footer></footer>
    </div>
    <div data-id="_done" data-order="3" class="kanban-board" style="width: 250px; margin-left: 0px; margin-right: 0px;">
        <header class="kanban-board-header danger"><div class="kanban-title-board">출력변수
        </div></header>
        <main class="kanban-drag">
            <div class="kanban-item" data-class="light-danger"><span class="font-weight-bold">출강량</span>
            </div></main>
        <footer></footer>
    </div></div>
</body>
</html>